version: '3'

services:

### Web ################################################
  web:
    container_name: "Jun_Nginx"
    image: 'nginx:${NGINX_VERSION}'
    ports:
      - ${NGINX_HTTP_PORT}:80
      - ${NGINX_HTTPS_PORT}:443
    links:
      - mysql
      - redis
      # - memcached
      - php
    volumes:
      - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
      - ${NGINX_VHOST_PATH}:/etc/nginx/conf.d
      - ${NGINX_LOGS_PATH}:/data/logs
      - ${NGINX_SSL_PATH}:/data/ssl
    extra_hosts:
      - "dockerhost:${DOCKER_HOST_IP}"
    networks:
      - backend
    tty: true
    privileged: true
    restart: always

### Php ################################################
  php:
    container_name: "Jun_PHP"
    # build:
    #   context: ./php
    #   args:
    #     - PHP_VERSION=${PHP_COMPILE_VERSION}
    image: "jun3/php:${PHP_VERSION}"
    volumes:
      - ${APP_CODE_PATH_HOST}:${PHP_CODE_PATH_CONTAINER}
    expose:
      - "${PHP_PORT}"
    ports:
      - "${PHP_PORT}:9000"
      - "${PHP_XDEBUG_PORT}:9001"
    links:
      - mysql
      - redis
      # - memcached
    depends_on:
      - "${PMA_DB_ENGINE}"
    extra_hosts:
      - "dockerhost:${DOCKER_HOST_IP}"
    networks:
      - backend
    privileged: true
    restart: always

### Redis ################################################
  redis:
    container_name: "Jun_Redis"
    image: 'redis:${REDIS_VERSION}'
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ${DATA_PATH_HOST}/redis:/data
    extra_hosts:
      - "dockerhost:${DOCKER_HOST_IP}"
    networks:
      - backend
    privileged: true
    restart: always

### MySQL ################################################
  mysql:
    container_name: "Jun_MySQL"
    image: 'mysql:${MYSQL_VERSION}'
    ports:
      - "${MYSQL_PORT}:3306"
      - "${MYSQL_PORT}0:33060"
    extra_hosts:
      - "dockerhost:${DOCKER_HOST_IP}"
    networks:
      - backend
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_ALLOW_EMPTY_PASSWORD=${MYSQL_ALLOW_EMPTY_PASSWORD}
    volumes:
      - ${MYSQL_DATA_PATH}:/var/lib/mysql
      # - ${MYSQL_ENTRYPOINT_INITDB}:/docker-entrypoint-initdb.d
    restart: always


### phpMyAdmin ###########################################
  phpmyadmin:
    container_name: "Jun_PHPMyMySQL"
    # build: ./phpmyadmin
    image: "phpmyadmin/phpmyadmin"
    environment:
      - PMA_ARBITRARY=1
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - TZ=${MYSQL_TIMEZONE}
    ports:
      - "${PMA_PORT}:80"
    extra_hosts:
      - "dockerhost:${DOCKER_HOST_IP}"
    depends_on:
      - "${PMA_DB_ENGINE}"
    networks:
      - backend
    privileged: true
    restart: always

### Memcached ############################################
  # memcached:
  #   container_name: "Jun_Memcached"
  #   image: memcached:${MEMCACHED_VERSION}
  #   volumes:
  #     - ${DATA_PATH_HOST}/memcached:/var/lib/memcached
  #   ports:
  #     - "${MEMCACHED_HOST_PORT}:11211"
  #   extra_hosts:
  #     - "dockerhost:${DOCKER_HOST_IP}"
  #   command: memcached
  #   networks:
  #     - backend
  #   privileged: true
  #   restart: always

networks:
  backend:
    driver: ${NETWORKS_DRIVER}
volumes:
  web:
    driver: ${VOLUMES_DRIVER}
  php:
    driver: ${VOLUMES_DRIVER}
  redis:
    driver: ${VOLUMES_DRIVER}
  mysql:
    driver: ${VOLUMES_DRIVER}
  phpmyadmin:
    driver: ${VOLUMES_DRIVER}
  # memcached:
  #   driver: ${VOLUMES_DRIVER}
